extends javascript

snippet muim "Material-UI import"
import ${1:Component} from '@material-ui/${2:core}/$1';
endsnippet

snippet cmp "React Component"
export default class ${1:Component} extends React.Component<*, *> {
	props: {$2}

	render(): Element<*> {
		return (
			${3:<div/>}
		);
	}
}
endsnippet

snippet init "Default imports"
//@flow

import React, {type Element} from 'react';
endsnippet
